<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<div class="row">
  <% @recipes.each do |recipe| %>
  <div class="col-md-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to recipe.title, recipe %>
      </div>
      <div class="panel-body">
        By <%= recipe.user.username %> on
        <%= recipe.created_at.strftime('%m/%d/%Y at %I:%M%p' ) %><br>
        <%= recipe.recipe_post[0...300] %>...
        <%= link_to "Read More", recipe %>
        <% if recipe.avatar_file_name != nil %>
          <%= image_tag recipe.avatar.url(:medium), class: "img-responsive" %>
        <% end %>
      </div>

      <div class="panel-footer">
        <%= link_to "Edit", edit_recipe_path(recipe), class: "btn btn-warning" %>
        <%= link_to "Delete", recipe, method: :delete, data: {confirm: 'Are you sure?'}, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
